body {
    background-color: #1F237C;
}

.home_background {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: 150px;

}

.homepage {
    color: #C19A55;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 5px 1px black;
    border-top: 5px solid #C19A55;
    float: left;
}

.first_button {
    padding: 1rem 5rem;
    float: left;
    background-color: #C19A55;
    border: none;
    border-radius: 5px 15px;
    font-size: larger;
    cursor: pointer;
    color: #1F237C;
    font-weight: 900;
}

.dollar{
    width: 90%;
}