.deposit,
.selectoption{
margin-top: 50px;
}

input[type = "number"] {
    padding: 0.6rem;
    color: #000;
    border: 1px solid;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 900;
}

.Deposit_amount{
    display: flex;
    gap: 10px;
}

.addButton {
    margin-top: 10px;
}
